body {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background: ghostwhite;
}

.pageheader{
	border-bottom: 2px solid #909090 ;
    color:#606060 ;
    text-align:left;
    line-height:100%;
    text-indent: 3%;
}

.navtest {
    text-align: center;
    line-height:100%;
    background-color:#F8F8FF;
    height:20%;
    width:100%;
    float: center;
    padding:5px;
    border-bottom: 2px solid #909090 ;
}

.anav {
    color: #483D8B;
    text-decoration: none;
}

a:hover {
    color:#8B008B;
}

.footer {
	background-color: #585858;
    color:white;
    clear:both;
    text-align:center;
   	padding:3px;
   	border-radius: 5px;}
