body {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    background: white;
    margin: 0;
    color: black;
}


img {
    opacity: 1;
    width: 100%;
    z-index: 1;
    display: block;
    margin-top: none;
}

.navigation {
    border-bottom: 1.5px solid #383838;
    border-top: 1.5px solid #383838;
    background-color:ghostwhite;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    text-align: center;
}

.navigation ul li{
    display: inline-block;
    width: 10em;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li a:hover {
    color:#8B008B;
}

.resumenav {
    border-top: 2px solid #909090;
    border-bottom: 2px solid #909090;
}

.resumenav ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    text-align: center;
}

.resumenav ul li{
    display: inline-block;
    width: 10em;
}

.resumenav ul li a {
    text-decoration: none;
    margin: 0em;
}

.resumenav ul li a:hover {
    color:#8B008B;
}

.blog {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
    padding: 3em;
}

.blog h2 {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: .25em;
}

.blog h3, h4 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.blog ul {
    margin: 0.75em;
}


.footer {
    background-color: #383838;
    color:white;
    clear:both;
    text-align:center;
    padding:3px;
}

